[submodule "build"]
	path = build
	url = https://chromium.googlesource.com/chromium/src/build.git
	gclient-condition = not build_with_chromium
[submodule "testing"]
	path = testing
	url = https://chromium.googlesource.com/chromium/src/testing
	gclient-condition = not build_with_chromium
[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://chromium.googlesource.com/chromium/src/third_party/abseil-cpp
	gclient-condition = not build_with_chromium
[submodule "third_party/astc-encoder/src"]
	path = third_party/astc-encoder/src
	url = https://github.com/ARM-software/astc-encoder
	gclient-condition = not build_with_chromium
[submodule "third_party/EGL-Registry/src"]
	path = third_party/EGL-Registry/src
	url = https://github.com/KhronosGroup/EGL-Registry
	gclient-condition = not build_with_chromium
[submodule "third_party/libdrm/src"]
	path = third_party/libdrm/src
	url = https://chromium.googlesource.com/chromiumos/third_party/libdrm.git
	gclient-condition = checkout_angle_mesa or not build_with_chromium
[submodule "third_party/jsoncpp"]
	path = third_party/jsoncpp
	url = https://chromium.googlesource.com/chromium/src/third_party/jsoncpp
	gclient-condition = not build_with_chromium
[submodule "third_party/OpenGL-Registry/src"]
	path = third_party/OpenGL-Registry/src
	url = https://github.com/KhronosGroup/OpenGL-Registry
	gclient-condition = not build_with_chromium
[submodule "third_party/rapidjson/src"]
	path = third_party/rapidjson/src
	url = https://github.com/Tencent/rapidjson
[submodule "third_party/rust"]
	path = third_party/rust
	url = https://chromium.googlesource.com/chromium/src/third_party/rust
	gclient-condition = not build_with_chromium
[submodule "third_party/spirv-headers/src"]
	path = third_party/spirv-headers/src
	url = https://github.com/KhronosGroup/SPIRV-Headers
	gclient-condition = not build_with_chromium
[submodule "third_party/spirv-tools/src"]
	path = third_party/spirv-tools/src
	url = https://github.com/KhronosGroup/SPIRV-Tools
	gclient-condition = not build_with_chromium
[submodule "third_party/vulkan-headers/src"]
	path = third_party/vulkan-headers/src
	url = https://github.com/KhronosGroup/Vulkan-Headers
	gclient-condition = not build_with_chromium
[submodule "third_party/vulkan-loader/src"]
	path = third_party/vulkan-loader/src
	url = https://github.com/KhronosGroup/Vulkan-Loader
	gclient-condition = not build_with_chromium
[submodule "third_party/vulkan-tools/src"]
	path = third_party/vulkan-tools/src
	url = https://github.com/KhronosGroup/Vulkan-Tools
	gclient-condition = not build_with_chromium
[submodule "third_party/vulkan_memory_allocator"]
	path = third_party/vulkan_memory_allocator
	url = https://chromium.googlesource.com/external/github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
	gclient-condition = not build_with_chromium
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://chromium.googlesource.com/chromium/src/third_party/zlib
	gclient-condition = not build_with_chromium
[submodule "third_party/jsoncpp_source"]
	url = https://github.com/open-source-parsers/jsoncpp
	path = third_party/jsoncpp_source
